body{
    background-color: orange ;
    text-align: center;
}

h1{
    color:black;
    display: inline-block;
    width: 100px;
    background-color: white;
    border-radius: 1em;
   text-align: center;
 margin-top: 3em;
    
    
   
     }

button{
    width: 100px;
 
    border: 2px 2px 2px 2px black;
    border-radius: 10px;
}